terraform {
  backend "s3" {
    bucket         = "CHANGE_ME_TFSTATE_BUCKET"
    key            = "project-02/prod/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "CHANGE_ME_TF_LOCK_TABLE"
    encrypt        = true
  }
}
